/* CSS */

*{
    background-color: rgb(255, 252, 247);
    font-family: Tahoma, sans-serif;
    text-align: center;
}

h1{
    font-size: 40px;
}

h1,
.link p {
    color: rgb(121, 5, 28);
    font-weight: bold;
}

#navigation {
    display: inline-flex;
}

.link p {
    margin: 0 auto;
    font-size: 16px;
}

.link {
    padding: 10px;
}

div.link:hover p {
    font-size: 115%;
}

#content {
    margin: 0 auto;
    width: 500px;
}

.header,
.recipe-list,
.footer,
.text {
    text-align: justify;
}

.links,
.recipe-list {
    list-style-type: none;
}

/* .steps {
    list-style-position: inside;
    position:relative;
    margin-left: -20px;
} */

.footer {
    text-align: right;
}